<h1>Welcome</h1>
<nav class="nav-bar navbar-default">
         <a routerLink="/products" routerLinkActive="active" class="btn btn-primary">Products</a>
         <a routerLink ="/users"  routerLinkActive="active" class="btn btn-primary">Users</a>
</nav>  