<usersForm></usersForm>
<h2>
    List of Users:
  </h2>
  <ul class = "list-group">
    <li class = "list-group-item" *ngFor = "let key of usersKeys">
        <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
        <button class="btn btn-info" [routerLink] = "['/user-form', key]">Update</button>
        <a [routerLink] = "['/user', key]">{{'Name' + ' : ' + users[key].username +' ' + 'Phone' + ' : ' +users[key].phone_number + ' '}}</a>
    </li>
  </ul>
