<h2>Update user number {{user?.id}}: </h2>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="username"></label>
    <input type="text" name="usernsme" id="usernsme" class="form-control" formControlName = "username" value="{{user?.username}}">
  </div>
  <div>
    <label for="phone_number"></label>
    <input type="text" name="phone_number" id="phone_number" class="form-control" formControlName = "phone_number" value="{{user?.phone_number}}">
  </div>
  <br>
  <input type="submit" value="Send the message" class="btn btn-primary">
</form>
  