<form [formGroup]= "usrform" (ngSubmit)= "sendData()" class = "form">
    <div >
  
      <label for="username"></label>
      <h2>User name</h2>
      <input required type="text" name="username" id= "username" class="form-control" formControlName="username">
    </div>
    <div *ngIf="!usrform.controls.username.valid " class="alert alert-danger">
        Name is required.
    </div>  
    
    <div>
      <label for="phone_number"></label>
      <h2>Phone number</h2>
      <input required type="text" name="phone_number" id= "phone_number" class="form-control" formControlName="phone_number">
    </div>
    <div *ngIf="!usrform.controls.phone_number.valid " class="alert alert-danger">
        Name is required.
    </div>   
    <br>
    <input type="submit" value="sand the message" class="btn btn-danger" [disabled]="!usrform.valid">
  
  </form>